#gamecode{
	 padding: 5px;
     font-size: 15px;
     border-width: 1px;
     border-color: #CCCCCC;
     border-style: solid;
     border-radius: 21px;
	 text-align: center;
     box-shadow: 0px 0px 5px rgba(66,66,66,.32);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
	 background: #FFFFFF;
}

#inputname{
  text-decoration-color: #1d1c25;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #3bade3;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #3bade3), color-stop(25%, #576fe6), color-stop(51%, #9844b7), color-stop(100%, #ff357f));
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: #3bade3;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #3bade3), color-stop(25%, #576fe6), color-stop(51%, #9844b7), color-stop(100%, #ff357f));
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
  border-color: #3bade3;
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: #576fe6;
}

.range.purple::-webkit-slider-thumb {
  border-color: #9844b7;
}

.range.pink::-webkit-slider-thumb {
  border-color: #ff357f;
}

.range.blue::-moz-range-thumb {
  border-color: #3bade3;
}

.range.ltpurple::-moz-range-thumb {
  border-color: #576fe6;
}

.range.purple::-moz-range-thumb {
  border-color: #9844b7;
}

.range.pink::-moz-range-thumb {
  border-color: #ff357f;
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}
